/* Variáveis */
$fundo: rgb(231, 245, 207);
$cor-azul:  blue;
$cor-verde: green;
$cor-vermelho: red;
$borda: 2px solid black;
$margem: 10px;
$paddi: 10px;
$tamanho-title: 45px;
$tamanho-sub-title: 40px;

/* mixins */
@mixin fundoP(){
    background-color: $fundo;
}

@mixin marg-padd(){
    margin: $margem;
    padding: $paddi;
}
html{
    display: flexbox;
}
*{
    display: flexbox;
}
.tab1{
    display: flex;
}

/* Hierarquia */
body {
    font-size: 30px;
    @include fundoP;
    @include marg-padd;
    
    
    flex-wrap: wrap;
    flex-direction: row;
    
    .title{
        color: $cor-azul;
        font-size: $tamanho-title;
    }
    .sub-title{
        font-size: $tamanho-sub-title;
    }
    p{
        color: $cor-verde;
        display: block;
    }
    b{
        color: $cor-vermelho;
    }   
}

/* Looping, Repetição */
$corDiv: red;
$tamanho: 15px;

@for $i from 1 through 6 {
    $nome: '#id-' + $i;
    #{$nome}{
        font-size: $tamanho + ($i*4);
        border: $borda;
        @include marg-padd;
        background-color: lighten($corDiv, $i + 35%);
        display: flexbox;
    }
}

